<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Görev Optimizasyonu</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Görev Optimizasyonu Uygulaması</h1>
    <div>
        <p>Toplam Çalışan Sayısı: {{ toplam_calisan }}</p>
        <p>Toplam Kapasite: {{ toplam_kapasite }}</p>
        <p>Toplam Görev Sayısı: {{ toplam_gorev }}</p>
    </div>
    <nav>
        <a href="/calisanlar">Çalışan Yönetimi</a> |
        <a href="/gorevler">Görev Yönetimi</a> |
        <a href="/calisan_ekle">Yeni Çalışan Ekle</a> |
        <a href="/gorev_ekle">Yeni Görev Ekle</a>
    </nav>
    
</body>
</html>
